<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Pentesting con FOCA</h3>
      <%= image_tag('covers/pentesting_con_foca.jpg') %>
      <%= link_to 'Lee más', book_path(1), class:"btn btn-primary" %>
    </div>
  </div>
</div>
