<div id="books-show">
  <h2>Pentesting con FOCA</h2>
  <div class="books-show-left">
    <%= image_tag('covers/pentesting_con_foca.jpg') %>
  </div>
  <div class="books-show-right">
    <h3>Información:</h3>
    <ul>
      <li><strong>Categoria: </strong>Pentesting</li>
      <li><strong>Autor: </strong>Chema Alonso</li>
      <li><strong>Editorial: </strong>0xWORD</li>
      <li><strong>Año: </strong>2015</li>
      <li><strong>ISBN: </strong>978-84-616-6319-4</li>
      <li><strong>Formato: </strong>Digital</li>
      <li><strong>Páginas: </strong>240</li>
    </ul>
    <%= link_to "Compralo por 22,00 €", 'http://0xword.com/es/libros/59-pentesting-con-foca.html',
    class:'btn btn-success', target:'_blank' %>
  </div>
  <div class="clearfix"></div>
  <h4>Extracto</h4>
  <p>En este libro aprenderás a sacar partido de todas las funciones que tiene FOCA, así como
    utilizarla junto con otras herramientas como Burp, Metasploit o los frameworks de Evil Grade.
    También verás como utilizar la información obtenida con FOCA en diferentes esquemas de ataque a utilizar
    en un pentesting. Conocerás cómo funciona la fase de análisis de metadatos, las herramientas de
    descubrimiento de red, las técnicas de fingerprintig y la búsqueda de vulnerabilidades. Fear the FOCA!</p>
</div>
